[submodule "nts-video"]
	path = nts-video
	url = https://github.com/nts-dev/nts-video.git
	branch = main
[submodule "nts-project"]
	path = nts-project
	url = https://github.com/nts-dev/nts-project.git
[submodule "docs-extract"]
	path = docs-extract
	url = https://github.com/nts-dev/docs-extract.git
[submodule "nts-video-api"]
	path = nts-video-api
	url = https://github.com/nts-dev/nts-video-api.git
